{% extends "base.html" %}

{% block titulo %}Sin Permisos Necesarios{% endblock %}

{% block contenido %}

{% include "fragments/titulo.html" with header="Permisos Requeridos" %}

        {% include "fragments/card_start.html" with header="Permisos Requeridos" %}
        <h4 class="card-title">Tu Usuario {{user}} no tiene Permisos para ver Opción</h4>
        <p class="card-text">Opciones:
            <ul><li>Ir Al <a href="{% url 'core:home' %}">Inicio</a></li>
            <li>Ir al <a href="{% url 'usuarios:login' %}">Login</a></li>
            </ul>
        </p>
        {% include "fragments/card_end.html" %}

{% endblock %}