{% extends "base.html" %}

{% block contenido %}

{% include "fragments/titulo.html" %}

        {% include "fragments/card_start.html" with header="Bienvenido a la aplicación" %}
        <div class="row">
            <div class="col-md-6">
                <div id="frm">
                    {% include 'ctrl_comb/mark-frm.html' %}
                </div>
            </div>
            <div class="col-md-6">
                <div id="list">
                    {% include 'ctrl_comb/mark-list.html' %}
                </div>
            </div>
        </div>
        {% include "fragments/card_end.html" %}

{% endblock %}